## Transition probabilities
- T describes: $\hat{x} = T x$
- we average over all experiments

In [1]:
## Load
%load_ext autoreload
%autoreload 2
from evaluation_scripts.experiment_class import Experiment
from evaluation_scripts.transition_probabilities_class import Transition_probabilities
from evaluation_scripts.base import save_for_latex
import pandas as pd
import os

In [2]:
experiments = ["20220412", "20220127", "20210417"]
experiment = Experiment(experiments)

##Â Do
- Get the x phenotypes.
    - S + U = S, A + A = A, A+B = A&B etc.
    - Equations can be found in the SI of the paper
- The loaded data correspond to $\hat{x}(t)$
- This data will be transformed to $x(t+1)$
- Than we can find a T that describes $\hat{x}(t+1) = Tx(t)$, since $\hat{x}(t+1)$ is known
- fishies will remain fishy exept they are mixed with ABr

In [3]:
print("create transition rates for t!=1")
t = Transition_probabilities(experiment, write = True)

print("create transition rates for t==1")
t1 = Transition_probabilities(experiment, t1 = True, write = True)

create transition rates for t!=1
create transition rates for t==1

In [4]:
t.path

'/Users/malte/polybox/Shared/Robot-Shared/TSPlasmids/summary/obj'

In [6]:
for antibiotic in t.antibiotics:
    path = os.path.join(t.pathes["base"], "tables", "M_"+antibiotic+".csv")
    M = t.transition_matrices["M_t_"+antibiotic]
    save_for_latex(M, [], path, round = 2)

          index     U     S    Ar    Br   AuB   ABr
0             U  0.97  0.00  0.00  0.00  0.00  0.00
1             S  0.03  0.98  0.01  0.02  0.01  0.01
2          A\_r  0.00  0.01  0.96  0.00  0.07  0.03
3          B\_r  0.00  0.01  0.00  0.97  0.02  0.00
4  (A\_r\&B\_r)  0.00  0.00  0.01  0.01  0.08  0.04
5         AB\_r  0.00  0.00  0.02  0.00  0.82  0.92
          index     U     S    Ar    Br   AuB   ABr
0             U  0.99  0.96  0.02  0.97  0.03  0.02
1             S  0.00  0.02  0.00  0.01  0.00  0.00
2          A\_r  0.01  0.02  0.98  0.01  0.59  0.01
3          B\_r  0.00  0.00  0.00  0.01  0.00  0.00
4  (A\_r\&B\_r)  0.00  0.00  0.00  0.00  0.18  0.01
5         AB\_r  0.00  0.00  0.00  0.00  0.20  0.96
          index     U     S    Ar    Br   AuB   ABr
0             U  0.99  0.80  0.63  0.01  0.03  0.02
1             S  0.00  0.19  0.18  0.00  0.00  0.00
2          A\_r  0.00  0.00  0.18  0.00  0.00  0.00
3          B\_r  0.01  0.01  0.00  0.98  0.21  0.00
4  (A\_r\&B\_r)  0.00  0.00  0.00  0.00  0.03  0.00
5         AB\_r  0.00  0.00  0.01  0.01  0.73  0.98
          index    U    S    Ar    Br  AuB   ABr
0             U  1.0  0.9  0.49  0.98  1.0  0.02
1             S  0.0  0.1  0.32  0.02  0.0  0.00
2          A\_r  0.0  0.0  0.19  0.00  0.0  0.00
3          B\_r  0.0  0.0  0.00  0.00  0.0  0.00
4  (A\_r\&B\_r)  0.0  0.0  0.00  0.00  0.0  0.00
5         AB\_r  0.0  0.0  0.00  0.00  0.0  0.98

In [ ]:
t.transition_matrices["M_AB"]

In [ ]:
t.get_M(write = True)

In [ ]:
from evaluation_scripts.base import load_pickle_obj
M_path = os.path.join(experiment.pathes["base"], "summary", "obj")
M_ab = load_pickle_obj(os.path.join(M_path, "M_AB.pkl")) 
M_ab

In [ ]:
os.path.join(M_path, "M_AB.pkl")

In [9]:
t.transition_matrices["M_t_B"]

         U     S   A_r   B_r   A&B  AB_r
U     0.99  0.80  0.63  0.01  0.03  0.02
S     0.00  0.19  0.18  0.00  0.00  0.00
A_r   0.00  0.00  0.18  0.00  0.00  0.00
B_r   0.01  0.01  0.00  0.98  0.21  0.00
A&B   0.00  0.00  0.00  0.00  0.03  0.00
AB_r  0.00  0.00  0.01  0.01  0.73  0.98