## test

In [8]:
import pandas as pd
import seaborn as sns    
import seaborn.timeseries

summary = pd.read_csv("summary.csv")
summary.head()




def _plot_range_band(*args, central_data=None, ci=None, data=None, **kwargs):
    upper = data.max(axis=0)
    lower = data.min(axis=0)
    #import pdb; pdb.set_trace()
    ci = np.asarray((lower, upper))
    kwargs.update({"central_data": central_data, "ci": ci, "data": data})
    seaborn.timeseries._plot_ci_band(*args, **kwargs)

seaborn.timeseries._plot_range_band = _plot_range_band

#cluster_overload = pd.read_csv("TSplot.csv", delim_whitespace=True)
#cluster_overload['Unit'] = cluster_overload.groupby(['Cluster','Week']).cumcount()

ax = sns.lineplot(time='transfer_n',value="count", data=summary,
               err_style="range_band", n_boot=0)

ValueError: A wide-form input must have only numeric values.

,Unnamed: 0,transfer_n,replicate,strategy,phenotype,fraction,contaminated,exclude,infected_by_strains,infected_by_wells,...,count,rwell,tip,transfer_to_well,transfer_to_well_id,treatment_with,turnover_id,turnover_strain,turnover_strain_real,well
0,0,t0,0.0,Combo,A_r,6.250000,6,6,0,0,...,6,6,6,0,0,6,6,6,6,6
1,1,t0,0.0,Combo,B_r,4.166667,4,4,0,0,...,4,4,4,0,0,4,4,4,4,4
2,2,t0,0.0,Combo,UI,13.541667,13,13,0,0,...,13,13,13,0,0,13,13,13,13,13
3,3,t0,0.0,Combo,WT,76.041667,73,73,0,0,...,73,73,73,0,0,73,73,73,73,73
4,4,t0,0.0,Cycling,A_r,5.208333,5,5,0,0,...,5,5,5,0,0,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1449,1449,t18,3.0,No treatment,A_r,30.208333,29,29,7,7,...,29,29,29,26,0,29,3,3,3,29
1450,1450,t18,3.0,No treatment,B_r,5.208333,5,5,1,1,...,5,5,5,4,0,5,1,1,1,5
1451,1451,t18,3.0,No treatment,Fishy,1.041667,1,1,1,1,...,1,1,1,1,0,1,0,0,0,1
1452,1452,t18,3.0,No treatment,UI,4.166667,4,4,0,0,...,4,4,4,1,0,4,3,3,3,4
1453,1453,t18,3.0,No treatment,WT,29.166667,28,28,4,4,...,28,28,28,18,0,28,10,10,10,28

In [9]:
P_ex = [6]
t_ex = [9]

exclude = pd.DataFrame(P_ex, columns = ["P_ex"])
exclude["t_ex"] = t_ex

exclude.to_csv("exclude_plates.csv", index_label=False)

In [12]:
pd.DataFrame(P_ex).to_csv("exclude_plate.csv")
pd.DataFrame(t_ex).to_csv("exclude_transfer.csv")