In [1]:
import pandas as pd
import EvalFunctions as ef
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as plticker
import ProperEvalFunctions as pef
import pickle
import VisuFunctions as vf
import StatFunctions as sf
import math
import turnover_analysis_functions as taf
import numpy as np


path, os = pef.get_pathes("20210417_output")
analysis_path = path+os.sep+"analysis"+os.sep
Data = pd.read_csv(analysis_path+"Data_history.csv", index_col = 0, low_memory=False)
strainplate = pd.read_csv(analysis_path+"Strainplate.csv", index_col = 0)
Data[Data.turnover_id.isnull() == False]
strain_dict = pickle.load(open("strain_dict.pkl", "rb"))
hue_infos, strategies, plate_rows, agar_strain_dict = pef.build_dictionaries()
hue_infos.update({"wt":"green"})
Data = pd.read_pickle(analysis_path+"Data_exp_m.pkl")
Data.head()

,col,contaminated,exclude,infected_by_strains,infected_by_wells,infection_to_well,infection_to_well_id,pheno_num,pheno_str,phenotype,...,treatment_with,turnover_id,turnover_strain,turnover_strain_real,well,input_wells,expected_pheno_str_machine,treated_pheno_str_machine,treated_pheno_num_machine,treated_phenotype_machine
ID,,,,,,,,,,,,,,,,,,,,,
t0_P1_A1,1,False,False,NaN,NaN,NaN,NaN,5,"[0, 1, 0, 1]",A_r,...,none,t0_S_A3,A_r,A_r,1,[t0_S_A3],"[0, 1, 0, 1]","[0, 1, 0, 1]",5,A_r
t0_P1_A2,2,False,False,NaN,NaN,NaN,NaN,5,"[0, 1, 0, 1]",A_r,...,none,t0_S_A4,A_r,A_r,2,[t0_S_A4],"[0, 1, 0, 1]","[0, 1, 0, 1]",5,A_r
t0_P1_A3,3,False,False,NaN,NaN,NaN,NaN,1,"[0, 0, 0, 1]",WT,...,none,t0_S_A7,wt,wt,3,[t0_S_A7],"[0, 0, 0, 1]","[0, 0, 0, 1]",1,WT
t0_P1_A4,4,False,False,NaN,NaN,NaN,NaN,1,"[0, 0, 0, 1]",WT,...,none,t0_S_A8,wt,wt,4,[t0_S_A8],"[0, 0, 0, 1]","[0, 0, 0, 1]",1,WT
t0_P1_A5,5,False,False,NaN,NaN,NaN,NaN,0,"[0, 0, 0, 0]",UI,...,none,t0_S_A9,UI,UI,5,[t0_S_A9],"[0, 0, 0, 0]","[0, 0, 0, 0]",0,UI

## Find cells with single input strains

In [2]:
wanted_columns = ["phenotype", "single_input_strain", "treatment_with", "turnover_strain", "infected_by_strains", "rwell", "strategy", "replicate", "transfer_n"]
single_input_wells = sf.transform_for_history(Data, wanted_columns, strainplate)
single_input_wells = sf.drop_rows_less_than_four_replicates(single_input_wells)

## Filter out unintendet infections
single_input_wells["unintendet_infection"] =single_input_wells.apply(lambda x: sf.filter_for_unintended_infection(x), axis=1)
single_input_wells = single_input_wells.drop(single_input_wells[single_input_wells.unintendet_infection == 1].index)
single_input_wells = single_input_wells.drop("unintendet_infection", axis=1)
single_input_wells.head()

,phenotype,single_input_strain,treatment_with,turnover_strain,infected_by_strains,rwell,strategy,replicate,transfer_n
ID,,,,,,,,,
t0_P1_A1,A_r,A_r,none,A_r,NaN,1,No treatment,0.0,0
t0_P1_A2,A_r,A_r,none,A_r,NaN,1,No treatment,2.0,0
t0_P1_A3,wt,wt,none,wt,NaN,2,No treatment,0.0,0
t0_P1_A4,wt,wt,none,wt,NaN,2,No treatment,2.0,0
t0_P1_A7,wt,wt,none,wt,NaN,4,No treatment,0.0,0

In [3]:
strategies = ["Mono A", "Mono B", "Combo"]
rwells = single_input_wells.rwell.unique()
replicates = single_input_wells.replicate.unique()

In [4]:
history_summery = pd.DataFrame(columns = single_input_wells.columns)
history_summery
for strategy in strategies:
    for replicate in replicates:
        for rwell in rwells:
            well_x_history = single_input_wells[(single_input_wells["rwell"] == rwell) & (single_input_wells["strategy"] == strategy) & ((single_input_wells["replicate"] == replicate) )].copy()
            if well_x_history.empty:
                break
            well_x_history = well_x_history.sort_values("transfer_n")

            well_x_history = taf.make_history_blocks(well_x_history)
            well_x_history = taf.cancel_blocks_that_dont_start_with_turnover(well_x_history)

            well_x_history = well_x_history.drop(well_x_history[well_x_history["history"] == "ignore"].index)

            try:
                history_summery = history_summery.append(well_x_history)
            except:
                history_summery = well_x_history
    
history_summery.head()

,phenotype,single_input_strain,treatment_with,turnover_strain,infected_by_strains,rwell,strategy,replicate,transfer_n,history,history_group
t1_P2_A1,A_r,A_r,A,A_r,NaN,1,Mono A,0.0,1,t0_P2_A1 (incomplete),story of a A_r treated with Mono A
t2_P2_A1,A_r,A_r,A,A_r,NaN,1,Mono A,0.0,2,t2_P2_A1 (incomplete),story of a A_r treated with Mono A
t3_P2_A1,A_r,A_r,A,NaN,NaN,1,Mono A,0.0,3,t2_P2_A1 (incomplete),story of a A_r treated with Mono A
t4_P2_A1,A_r,A_r,A,NaN,NaN,1,Mono A,0.0,4,t2_P2_A1 (incomplete),story of a A_r treated with Mono A
t1_P2_A3,UI,wt,A,wt,NaN,2,Mono A,0.0,1,t0_P2_A3,story of a wt treated with Mono A

## To plot:
- replace internal clock: Turnover t=0 = 100% 
- stack and group and sum.

In [5]:
plotable_summery = history_summery.copy()
histories = plotable_summery.history.unique()
for history in histories:
    history_data = plotable_summery[plotable_summery["history"] == history]
    t_correct = history_data.transfer_n.min()-1
    plotable_summery.loc[history_data.index, "transfer_n"] = plotable_summery.loc[history_data.index, "transfer_n"] - t_correct
plotable_summery = plotable_summery.rename(columns = {"transfer_n":"time"})
plotable_summery.head()

,phenotype,single_input_strain,treatment_with,turnover_strain,infected_by_strains,rwell,strategy,replicate,time,history,history_group
t1_P2_A1,A_r,A_r,A,A_r,NaN,1,Mono A,0.0,1,t0_P2_A1 (incomplete),story of a A_r treated with Mono A
t2_P2_A1,A_r,A_r,A,A_r,NaN,1,Mono A,0.0,1,t2_P2_A1 (incomplete),story of a A_r treated with Mono A
t3_P2_A1,A_r,A_r,A,NaN,NaN,1,Mono A,0.0,2,t2_P2_A1 (incomplete),story of a A_r treated with Mono A
t4_P2_A1,A_r,A_r,A,NaN,NaN,1,Mono A,0.0,3,t2_P2_A1 (incomplete),story of a A_r treated with Mono A
t1_P2_A3,UI,wt,A,wt,NaN,2,Mono A,0.0,1,t0_P2_A3,story of a wt treated with Mono A

In [6]:
groupped_data = plotable_summery.groupby(["history_group", "time", "phenotype"]).agg({'rwell': 'sum'})
groupped_data["fraction"] = groupped_data.groupby(by=["history_group", "time"]).apply(
     lambda x:  100*x / x.sum()
)
groupped_data = groupped_data.reset_index()
groupped_data.head()

                        history_group  time phenotype  rwell    fraction
0   story of a A_r treated with Combo     1       A_r    557   21.414840
1   story of a A_r treated with Combo     1        UI   1034   39.753941
2   story of a A_r treated with Combo     1        wt   1010   38.831219
3   story of a A_r treated with Combo     2        UI    663  100.000000
4  story of a A_r treated with Mono A     1       A_r   2702  100.000000

In [7]:
## Calculate percentage of strains that are different to UI.
## Add Column with t=0 and Anti_frac = 0
story_groups = groupped_data.history_group.unique()
for group in story_groups:
    g = groupped_data[groupped_data.history_group == group]
    for t in np.append(0, g.time.unique()):
        group_t = groupped_data[(groupped_data.time == t) & (groupped_data.history_group == group)]
        if group_t.phenotype.empty:
            groupped_data = groupped_data.append({"history_group":group, "time":t, "phenotype":"UI", "fraction":0}, ignore_index = True)
        elif group_t.phenotype.str.contains("UI").any() == False:
            groupped_data = groupped_data.append({"history_group":group, "time":t, "phenotype":"UI", "fraction":0}, ignore_index = True)
groupped_data.head()

                        history_group  time phenotype   rwell    fraction
0   story of a A_r treated with Combo     1       A_r   557.0   21.414840
1   story of a A_r treated with Combo     1        UI  1034.0   39.753941
2   story of a A_r treated with Combo     1        wt  1010.0   38.831219
3   story of a A_r treated with Combo     2        UI   663.0  100.000000
4  story of a A_r treated with Mono A     1       A_r  2702.0  100.000000

In [8]:
UI_frame = groupped_data[groupped_data.phenotype == "UI"].copy()
UI_frame["infected"] = UI_frame.apply(lambda x: 100 - x["fraction"], axis = 1)
UI_frame.head()

,history_group,time,phenotype,rwell,fraction,infected
1,story of a A_r treated with Combo,1,UI,1034.0,39.753941,60.246059
3,story of a A_r treated with Combo,2,UI,663.0,100.000000,0.000000
11,story of a A_r treated with Mono B,1,UI,708.0,28.652367,71.347633
13,story of a A_r treated with Mono B,2,UI,1081.0,100.000000,0.000000
14,story of a B_r treated with Combo,1,UI,2957.0,83.507484,16.492516

In [9]:
import stochastic_eval_functions as sef
import Functions as func

par= {
    "V_well":50,    #ul
      "V_drop":0.3, #ul
      "c_0":math.pow(10,6),   #bac/ul of stationary O/N
      "t_end":24    #duration of treatment per transfer in hours 
}

In [10]:
stories = UI_frame.history_group.unique()
T = np.linspace(0,2.05,10000)
UI_frame = UI_frame.sort_values(["history_group", "time"])[["history_group", "time", "fraction"]]

for story in stories:
    story_frame =  UI_frame[UI_frame.history_group == story].copy()
    df = story_frame[(story_frame.time == 1)].copy()
    df2 = story_frame[(story_frame.time == 2)].copy()
    
    ## Calculate Lambda
    # T=1
    P_ui = float(df["fraction"]/100)
    Lambda = sef.get_lambda(P_ui, par)
    UI_frame.loc[story_frame.index, "lambda"] = Lambda
    par.update({"lambda":Lambda})
    
    if Lambda > 0:
        ## Calculate bacterial concentration over time
        N = sef.N_t(T, par)

        ## Calculate infectiousness over time
        P_X = sef.Probability_of_i_for_Nw(N, par)

        ## P(X) based on calculated bacterial concentration
        c, T_D = sef.get_dwell_time_and_average_clearence(T, P_X)
        
        ## Clearance rate that fit experimental Data best (different than best for modeling)
        c1, c2, c_exp, px_1, px_2 = sef.get_exp_c(T, P_X)
    else:
        c = 0
        T_D = float("inf")
        c_exp = 0
        T_D_exp = float("inf")
        c1 = 0
        c2 = 0
        px_1 = 0 
        px_2 = 0
        
    UI_frame.loc[story_frame.index, "c"] =  c
    UI_frame.loc[story_frame.index, "T_D"] =  T_D
    
    UI_frame.loc[story_frame.index, "c_exp"] =  c_exp
    
    UI_frame.loc[story_frame.index, "c_1"] =  c1
    UI_frame.loc[story_frame.index, "P(X, T=1)"] =  px_1
    UI_frame.loc[story_frame.index, "c_2"] =  c2
    UI_frame.loc[story_frame.index, "P(X, T=2)"] =  px_2

    ## P(X)_measured designed to match the only non zero measuring point of the experiment (T=1)
    #P_X_measured, c_exp, T_D_exp =  sef.get_experimental_P_X(P_X, T)
   

UI_frame = UI_frame[(UI_frame.time == 1)].drop(["time", "fraction"],axis=1)
UI_frame

,history_group,lambda,c,T_D,c_exp,c_1,"P(X, T=1)",c_2,"P(X, T=2)"
1,story of a A_r treated with Combo,0.315802,1.033268,0.967803,4.930220,0.506203,0.602780,12.269575,2.828463e-06
37,story of a A_r treated with Mono A,0.000000,0.000000,inf,0.000000,1.511845,0.220503,13.884275,2.058496e-07
11,story of a A_r treated with Mono B,0.303144,1.019373,0.980995,5.124280,0.337186,0.713776,11.830998,5.193076e-06
14,story of a B_r treated with Combo,0.383835,1.165294,0.858153,3.563780,1.801297,0.165085,14.240018,1.079806e-07
18,story of a B_r treated with Mono A,0.409582,1.231441,0.812057,3.440541,2.378529,0.092687,14.898611,3.137860e-08
46,story of a B_r treated with Mono B,0.000000,0.000000,inf,0.000000,1.511845,0.220503,13.884275,2.058496e-07
26,story of a wt treated with Combo,0.396121,1.196184,0.835992,3.467870,2.073683,0.125722,14.557324,5.987499e-08
29,story of a wt treated with Mono A,0.473627,1.410956,0.708739,4.133078,3.877631,0.020700,16.473626,1.450646e-09
32,story of a wt treated with Mono B,0.370394,1.133286,0.882390,3.747117,1.511845,0.220503,13.884275,2.058496e-07

In [11]:
import os
try:
    os.mkdir(analysis_path+"obj")
except:
    pass
UI_frame.to_pickle(analysis_path+"obj/Turnover_statistic.pkl")

In [13]:
px_2

2.058496039181179e-07

In [14]:
px_2

2.058496039181179e-07