In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib.ticker as plticker
import pickle
import numpy as np
from evaluation_scripts.base import get_pathes
from evaluation_scripts.well_ident import build_dictionaries

jupyter_path, base_path, path, analysis_path, os = get_pathes("20210417_output")
hue_infos, strategies, plate_rows, agar_strain_dict = build_dictionaries()
data = pd.read_pickle(os.path.join(analysis_path,"obj","2c_data_pin_cleaned.pkl"))
data = data[data.transfer_n > 0]
data = data[data.turnover_strain != "bl"]

In [2]:
## Turnover rate
print("Tau = ", len(data[data.turnover_id.isnull() == False])/len(data))

Tau =  0.1963067041348856

In [3]:
## Infection rate
print("Beta = ", len(data[data.infection_to_well_id.isnull() == False])/len(data))

Beta =  0.2861300682456845

In [4]:
turnover_df = data[data.turnover_strain.isnull()==False]
t_strains = turnover_df.turnover_strain.unique()
reservoir = {}
reservoir_n = {}
for strain in t_strains:
    df_strain = turnover_df[turnover_df.turnover_strain == strain]
    r = len(df_strain)/len(turnover_df)
    reservoir.update({strain:r})
    reservoir_n.update({strain:r*94})

In [5]:
reservoir

{'S': 0.7198364008179959,
 'UI': 0.16002044989775052,
 'A_r': 0.0541922290388548,
 'B_r': 0.06595092024539877}

In [6]:
reservoir_n

{'S': 67.66462167689161,
 'UI': 15.041922290388548,
 'A_r': 5.0940695296523515,
 'B_r': 6.199386503067484}

## Check rates for certain strains over a period of time

In [20]:
def calc_special_betas(exp, t_crit, strain, strat):
    exp = "20220127"
    jupyter_path, base_path, path, analysis_path, os = get_pathes(exp+"_output")
    
    hue_infos, strategies, plate_rows, agar_strain_dict = build_dictionaries()
    data = pd.read_pickle(os.path.join(analysis_path,"obj","2c_data_pin_cleaned.pkl"))
    data = data[(data.transfer_n > t_crit[0])&(data.transfer_n < t_crit[1])]
    data = data[(data.turnover_strain == strain)&(data.strategy == strat)]
    name = "beta_av_t"+str(t_crit[0])+"-t"+str(t_crit[1]) +"_for_"+strain+"_in_strat_"+strat

    print(name, ":", len(data[data.infection_to_well_id.isnull() == False])/len(data))$
    
    
t_crit = [12, 27]
    strain = "A_r"
    strat = "Mono A"

,col,contaminated,exclude,infected_by_strains,infected_by_wells,infection_to_well,infection_to_well_id,pheno_num,pheno_str,phenotype,...,turnover_start,incubation_start,replication_start,t_turnover_start,t_incubation_start,t_replication_start,barcode,transfered_phenotype,comment,plate_rep_id
ID,,,,,,,,,,,,,,,,,,,,,
t19_P2_A3,3,False,True,[UI],[t18_P2_A17],NaN,NaN,0,"[0, 0, 0, 0]",UI,...,2022-02-20 18:04:57,2022-02-20 20:30:56,2022-02-21 19:16:36,577.990833,580.423889,603.185000,2022022002,None,pin failure,t19_p2_r0.0
t19_P2_A4,4,False,False,[UI],[t18_P2_A18],NaN,NaN,5,"[0, 1, 0, 1]",A_r,...,2022-02-20 18:04:57,2022-02-20 20:30:56,2022-02-21 19:16:36,577.990833,580.423889,603.185000,2022022002,None,NaN,t19_p2_r2.0
t19_P2_A17,17,False,True,None,None,NaN,NaN,0,"[0, 0, 0, 0]",UI,...,2022-02-20 18:04:57,2022-02-20 20:30:56,2022-02-21 19:16:36,577.990833,580.423889,603.185000,2022022002,None,pin failure,t19_p2_r0.0
t19_P2_A18,18,False,False,None,None,NaN,NaN,5,"[0, 1, 0, 1]",A_r,...,2022-02-20 18:04:57,2022-02-20 20:30:56,2022-02-21 19:16:36,577.990833,580.423889,603.185000,2022022002,None,NaN,t19_p2_r2.0
t19_P2_B3,3,False,False,[UI],[t18_P2_B17],NaN,NaN,5,"[0, 1, 0, 1]",A_r,...,2022-02-20 18:04:57,2022-02-20 20:30:56,2022-02-21 19:16:36,577.990833,580.423889,603.185000,2022022002,None,NaN,t19_p2_r1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
t15_P2_F22,22,False,False,[AB_r],[t14_P2_D10],NaN,NaN,5,"[0, 1, 0, 1]",A_r,...,2022-02-15 15:55:29,2022-02-15 18:13:55,2022-02-16 18:14:09,455.833056,458.140278,482.144167,2022021502,None,NaN,t15_p2_r3.0
t14_P2_I11,11,False,False,None,None,79.0,t15_P2_M13,5,"[0, 1, 0, 1]",A_r,...,2022-02-14 19:28:02,2022-02-14 21:46:08,2022-02-15 18:14:24,435.375556,437.677222,458.148333,2022021402,None,NaN,t14_p2_r0.0
t14_P2_I12,12,False,False,None,None,79.0,t15_P2_M14,5,"[0, 1, 0, 1]",A_r,...,2022-02-14 19:28:02,2022-02-14 21:46:08,2022-02-15 18:14:24,435.375556,437.677222,458.148333,2022021402,None,NaN,t14_p2_r2.0
t14_P2_J11,11,False,False,None,None,79.0,t15_P2_N13,5,"[0, 1, 0, 1]",A_r,...,2022-02-14 19:28:02,2022-02-14 21:46:08,2022-02-15 18:14:24,435.375556,437.677222,458.148333,2022021402,None,NaN,t14_p2_r1.0
t14_P2_J12,12,False,False,None,None,79.0,t15_P2_N14,5,"[0, 1, 0, 1]",A_r,...,2022-02-14 19:28:02,2022-02-14 21:46:08,2022-02-15 18:14:24,435.375556,437.677222,458.148333,2022021402,None,NaN,t14_p2_r3.0

beta_av_t12-t27_for_A_r_in_strat_Mono A : 0.5652173913043478