## Special Skript for the 20220412 Emergence Experiment

In [1]:
%load_ext autoreload
%autoreload 2
import os
from evaluation_scripts.experiment_class import Experiment
import pandas as pd

date = "20220412"
experiment = Experiment(date, src="02g_advanced_phenotyping")
data = experiment.data

In [2]:
data[data.x == "A&B"].added_advanced_phenotypes

ID
t1_P1_A3           [B_r^h, A_r^h]
t1_P1_A4           [B_r^h, A_r^h]
t1_P1_B3           [B_r^h, A_r^h]
t1_P1_B4           [B_r^h, A_r^h]
t1_P1_A5           [B_r^h, A_r^h]
                     ...
t14_P6_H23    [B_r^h, U^?, A_r^?]
t14_P6_O3     [B_r^h, U^?, A_r^h]
t14_P6_O4     [B_r^h, U^?, A_r^h]
t14_P6_P3     [B_r^h, U^?, A_r^h]
t14_P6_P4     [B_r^h, U^?, A_r^h]
Name: added_advanced_phenotypes, Length: 1445, dtype: object

In [3]:
def sort_array(v):
    ## This function: 1) sorts the strains in a given order and 2) throws out multiple listings of same strain
    order = {
        0:"U^?",
        1:"S^h",
        2:"S^l",
        3:"S^?",
        4:"A_r^h",
        5:"A_r^l",
        6:"A_r^?",
        7:"B_r^h",
        8:"B_r^l",
        9:"B_r^?", 
        10:"A&B^?",
        11:"AB_r^?",
        12:"Fishy^?",
        13:"?",
        14:"Other^?"
    }
    order_inv = {v: k for k, v in order.items()}

    keys = []
    for s in v:
        keys.append(order_inv[s])
    keys.sort()
    res = []
    for k in keys:
        if order[k] not in res:
            res.append(order[k])
    return res
data["added_advanced_phenotypes"] = data.apply(lambda x: sort_array(x["added_advanced_phenotypes"]), axis = 1)

In [4]:
data[data.x == "A&B"].added_advanced_phenotypes

ID
t1_P1_A3           [A_r^h, B_r^h]
t1_P1_A4           [A_r^h, B_r^h]
t1_P1_B3           [A_r^h, B_r^h]
t1_P1_B4           [A_r^h, B_r^h]
t1_P1_A5           [A_r^h, B_r^h]
                     ...
t14_P6_H23    [U^?, A_r^?, B_r^h]
t14_P6_O3     [U^?, A_r^h, B_r^h]
t14_P6_O4     [U^?, A_r^h, B_r^h]
t14_P6_P3     [U^?, A_r^h, B_r^h]
t14_P6_P4     [U^?, A_r^h, B_r^h]
Name: added_advanced_phenotypes, Length: 1445, dtype: object

## Keep Only  Suitable Wells
- keep only wells where all advanced phenotypes are known
- keep only wells where somekind of A_r is mixed with somekind of B_r
- keep only wells that dont receive A&B, ABr or Other

In [5]:
data[data.x == "A&B"]

,added_strains,added_wells,barcode,col,comment,contaminated,dt,exclude,incubation_end,incubation_start,...,treatment_with,turnover_id,turnover_start,turnover_strain,turnover_strain_real,well,x,exp,advanced_phenotype,added_advanced_phenotypes
ID,,,,,,,,,,,,,,,,,,,,,
t1_P1_A3,"[B_r, A_r]","[t0_P1_A3, t0_P1_E17]",2022041301,3,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,3,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_A4,"[B_r, A_r]","[t0_P1_A4, t0_P1_E18]",2022041301,4,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,4,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_B3,"[B_r, A_r]","[t0_P1_B3, t0_P1_F17]",2022041301,3,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,27,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_B4,"[B_r, A_r]","[t0_P1_B4, t0_P1_F18]",2022041301,4,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,28,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_A5,"[B_r, A_r]","[t0_P1_A5, t0_P1_O19]",2022041301,5,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,5,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
t14_P6_H23,"[B_r, U, A_r, U]","[t13_P6_H23, t13_P6_F17, t13_P6_N23, t13_P6_P17]",NaN,23,NaN,False,NaN,False,NaT,NaT,...,B,None,NaT,NaN,NaN,191,A&B,20220412,AB_r^?,"[U^?, A_r^?, B_r^h]"
t14_P6_O3,"[B_r, U, A_r]","[t14_S_G13, t13_P6_A23, t13_P6_E3]",NaN,3,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_G13,NaT,B_r,B_r,339,A&B,20220412,B_r^?,"[U^?, A_r^h, B_r^h]"
t14_P6_O4,"[B_r, U, A_r]","[t14_S_G14, t13_P6_A24, t13_P6_E4]",NaN,4,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_G14,NaT,B_r,B_r,340,A&B,20220412,AB_r^?,"[U^?, A_r^h, B_r^h]"
t14_P6_P3,"[B_r, U, A_r]","[t14_S_H13, t13_P6_B23, t13_P6_F3]",NaN,3,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_H13,NaT,B_r,B_r,363,A&B,20220412,Other^?,"[U^?, A_r^h, B_r^h]"
t14_P6_P4,"[B_r, U, A_r]","[t14_S_H14, t13_P6_B24, t13_P6_F4]",NaN,4,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_H14,NaT,B_r,B_r,364,A&B,20220412,AB_r^?,"[U^?, A_r^h, B_r^h]"

In [6]:
def check_suitability(row):
    v = row["added_advanced_phenotypes"]
    if len(v) == 2:
        b = True
        for vi in v:
            if ("?" in vi):
                b = False
        print(v)
        if (("A_r" in v[0] )& ("B_r" in v[1])) == False:
            b = False
        return b
    else:
        return False

In [7]:
def check_suitability(row):
    added_phenos = row["added_advanced_phenotypes"]
    if len(added_phenos) > 1:
        suitable = True
        a_there = False
        b_there = False
        
        for pheno in added_phenos:
            ## We can ignore Formes of S and U
            if ("S" in pheno) or ("U" in pheno):
                pass
            else:
                ## Some Phenotypes are not okay.
                if ("?" in pheno) or ("Other" in pheno) or ("AB" in pheno) or ("A&B" in pheno):
                    suitable = False

                ## Some A has to be there
                if (("A_r^h" in pheno) or ("A_r^l" in pheno)):
                    a_there = True
                    
                ## Some B has to be there
                if (("B_r^h" in pheno) or ("B_r^l" in pheno)):
                    b_there = True
        return suitable and a_there and b_there
    else:
        return False
interesting_combos = data[data.apply(lambda x: check_suitability(x), axis = 1)].copy()
interesting_combos

,added_strains,added_wells,barcode,col,comment,contaminated,dt,exclude,incubation_end,incubation_start,...,treatment_with,turnover_id,turnover_start,turnover_strain,turnover_strain_real,well,x,exp,advanced_phenotype,added_advanced_phenotypes
ID,,,,,,,,,,,,,,,,,,,,,
t1_P1_A3,"[B_r, A_r]","[t0_P1_A3, t0_P1_E17]",2022041301,3,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,3,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_A4,"[B_r, A_r]","[t0_P1_A4, t0_P1_E18]",2022041301,4,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,4,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_B3,"[B_r, A_r]","[t0_P1_B3, t0_P1_F17]",2022041301,3,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,27,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_B4,"[B_r, A_r]","[t0_P1_B4, t0_P1_F18]",2022041301,4,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,28,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t1_P1_A5,"[B_r, A_r]","[t0_P1_A5, t0_P1_O19]",2022041301,5,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,none,None,2022-04-13 13:08:15,NaN,NaN,5,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
t14_P6_F20,"[B_r, A_r]","[t14_S_H14, t13_P6_B8]",NaN,20,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_H14,NaT,B_r,B_r,140,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]"
t14_P6_O3,"[B_r, U, A_r]","[t14_S_G13, t13_P6_A23, t13_P6_E3]",NaN,3,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_G13,NaT,B_r,B_r,339,A&B,20220412,B_r^?,"[U^?, A_r^h, B_r^h]"
t14_P6_O4,"[B_r, U, A_r]","[t14_S_G14, t13_P6_A24, t13_P6_E4]",NaN,4,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_G14,NaT,B_r,B_r,340,A&B,20220412,AB_r^?,"[U^?, A_r^h, B_r^h]"
t14_P6_P3,"[B_r, U, A_r]","[t14_S_H13, t13_P6_B23, t13_P6_F3]",NaN,3,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_H13,NaT,B_r,B_r,363,A&B,20220412,Other^?,"[U^?, A_r^h, B_r^h]"
t14_P6_P4,"[B_r, U, A_r]","[t14_S_H14, t13_P6_B24, t13_P6_F4]",NaN,4,NaN,False,NaN,False,NaT,NaT,...,B,t14_S_H14,NaT,B_r,B_r,364,A&B,20220412,AB_r^?,"[U^?, A_r^h, B_r^h]"

- save the incoming strains as s1 and s2 
- add a bool column if superconjugation happend

In [8]:
def reduce_pheno(added_phenos, pheno):
    result = [element for element in added_phenos if pheno in element]
    if pheno+"_r^h" in added_phenos:
        return pheno+"_r^h" 
    else:
        return pheno+"_r^l" 

def reduce_added_strains(added_phenos):
    return [reduce_pheno(added_phenos, "A"), reduce_pheno(added_phenos, "B")]
    
interesting_combos["superinfection"] = interesting_combos.added_advanced_phenotypes.apply(lambda x: reduce_added_strains(x))

In [9]:
def get_strain_i(row, i):
    return row.superinfection[i]
interesting_combos["conjugation"] = interesting_combos.phenotype == "AB_r"
interesting_combos["s1"] = interesting_combos.apply(lambda x: get_strain_i(x, 0), axis = 1)
interesting_combos["s2"] = interesting_combos.apply(lambda x: get_strain_i(x, 1), axis = 1)
interesting_combos.head()

,added_strains,added_wells,barcode,col,comment,contaminated,dt,exclude,incubation_end,incubation_start,...,turnover_strain_real,well,x,exp,advanced_phenotype,added_advanced_phenotypes,superinfection,conjugation,s1,s2
ID,,,,,,,,,,,,,,,,,,,,,
t1_P1_A3,"[B_r, A_r]","[t0_P1_A3, t0_P1_E17]",2022041301,3,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,NaN,3,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]","[A_r^h, B_r^h]",True,A_r^h,B_r^h
t1_P1_A4,"[B_r, A_r]","[t0_P1_A4, t0_P1_E18]",2022041301,4,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,NaN,4,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]","[A_r^h, B_r^h]",True,A_r^h,B_r^h
t1_P1_B3,"[B_r, A_r]","[t0_P1_B3, t0_P1_F17]",2022041301,3,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,NaN,27,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]","[A_r^h, B_r^h]",True,A_r^h,B_r^h
t1_P1_B4,"[B_r, A_r]","[t0_P1_B4, t0_P1_F18]",2022041301,4,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,NaN,28,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]","[A_r^h, B_r^h]",True,A_r^h,B_r^h
t1_P1_A5,"[B_r, A_r]","[t0_P1_A5, t0_P1_O19]",2022041301,5,NaN,False,25.321389,False,2022-04-14 12:49:17,NaT,...,NaN,5,A&B,20220412,AB_r^?,"[A_r^h, B_r^h]","[A_r^h, B_r^h]",True,A_r^h,B_r^h

## Use Groupby to get relative frequencies of combination results

In [10]:
emergance_events = interesting_combos[["s1", "s2", "treatment_with", "conjugation"]].groupby(
    ["s1", "s2", "treatment_with"]
).sum()
emergance_events = emergance_events.rename(columns={"conjugation":"n"})
emergance_events["total"] = interesting_combos[["s1", "s2", "treatment_with", "conjugation"]].groupby(
    ["s1", "s2", "treatment_with"]
).count()
emergance_events["f"] = round(emergance_events["n"]/emergance_events["total"],2)
emergance_events = emergance_events.reset_index()
emergance_events

      s1     s2 treatment_with    n  total     f
0  A_r^h  B_r^h              A   55    399  0.14
1  A_r^h  B_r^h             AB    2     35  0.06
2  A_r^h  B_r^h              B  257    322  0.80
3  A_r^h  B_r^h           none  390    420  0.93
4  A_r^h  B_r^l              A    0      1  0.00
5  A_r^l  B_r^h              A    0     13  0.00
6  A_r^l  B_r^h             AB    0     15  0.00
7  A_r^l  B_r^h              B    0     15  0.00

### Save for Latex

In [20]:
emergance_events_lt = emergance_events.replace({"A_r^h":"$A^h_r$", "B_r^l":"$B^l_r$", "B_r^h":"$B^h_r$", "A_r^l":"$A^l_r$"}).copy()
emergance_events_lt = emergance_events_lt.rename(columns = {"s1":"sa", "s2":"sb", "treatment_with":"treatment"})
emergance_events_lt.to_latex(os.path.join(experiment.pathes["tables"], "emergence_advanced.tex"))
emergance_events_lt.to_csv(os.path.join(experiment.pathes["tables"], "emergence_advanced.csv"), sep=";")
emergance_events_lt

        sa       sb treatment    n  total     f
0  $A^h_r$  $B^h_r$         A   55    399  0.14
1  $A^h_r$  $B^h_r$        AB    2     35  0.06
2  $A^h_r$  $B^h_r$         B  257    322  0.80
3  $A^h_r$  $B^h_r$      none  390    420  0.93
4  $A^h_r$  $B^l_r$         A    0      1  0.00
5  $A^l_r$  $B^h_r$         A    0     13  0.00
6  $A^l_r$  $B^h_r$        AB    0     15  0.00
7  $A^l_r$  $B^h_r$         B    0     15  0.00

## Frequency of combinations by strategy
- The result above shows that only turnoverstrains lead to double resistance.
- It is therefore important to know the probabilty that these strains meet by strategy.

In [12]:
freq_encounters = interesting_combos[(interesting_combos.s1 == "A_r^h") & (interesting_combos.s2 == "B_r^h")].copy()
freq_encounters["encounters"] = True
freq_encounters_strat = freq_encounters[["strategy", "encounters"]].groupby("strategy").count()
transfers = len(freq_encounters.transfer_n.unique())
freq_encounters_strat["encounters_per_transfer"] = round(freq_encounters_strat.encounters/transfers, 2)
freq_encounters_strat

              encounters  encounters_per_transfer
strategy
Combination           35                     2.50
Cycling              126                     9.00
Mixing               192                    13.71
Mono A               232                    16.57
Mono B               171                    12.21
No treatment         420                    30.00

## Exclude transfer 1
-  Transfer 1 is special since plate 0 is untreated

In [13]:
freq_encounters_x1 = interesting_combos[(interesting_combos.s1 == "A_r^h") & (interesting_combos.s2 == "B_r^h") & (interesting_combos.transfer_n > 1)].copy()
freq_encounters_x1["encounters_ex1"] = True
freq_encounters_strat_x1 = freq_encounters_x1[["strategy", "encounters_ex1"]].groupby("strategy").count()
transfers_x1 = len(freq_encounters_x1.transfer_n.unique())
freq_encounters_strat_x1["encounters_per_transfer_ex1"] = round(freq_encounters_strat_x1.encounters_ex1/transfers_x1, 2)
freq_encounters_strat_x1

              encounters_ex1  encounters_per_transfer_ex1
strategy
Cycling                   91                         7.00
Mixing                   157                        12.08
Mono A                   197                        15.15
Mono B                   136                        10.46
No treatment             385                        29.62

In [14]:
encounters = pd.concat([freq_encounters_strat, freq_encounters_strat_x1], axis=1).fillna(0)
encounters

,encounters,encounters_per_transfer,encounters_ex1,encounters_per_transfer_ex1
strategy,,,,
Combination,35,2.50,0.0,0.00
Cycling,126,9.00,91.0,7.00
Mixing,192,13.71,157.0,12.08
Mono A,232,16.57,197.0,15.15
Mono B,171,12.21,136.0,10.46
No treatment,420,30.00,385.0,29.62

### For Latex

In [15]:
encounters_lt = encounters.reset_index()
encounters_lt = encounters_lt.rename(columns = {"encounters":"e", "encounters_per_transfer":"fe", "encounters_ex1":"ex", "encounters_per_transfer_ex1":"fex"})
encounters_lt.to_csv(os.path.join(experiment.pathes["tables"], "encounters_advanced.csv"))
encounters_lt

       strategy    e     fe     ex    fex
0   Combination   35   2.50    0.0   0.00
1       Cycling  126   9.00   91.0   7.00
2        Mixing  192  13.71  157.0  12.08
3        Mono A  232  16.57  197.0  15.15
4        Mono B  171  12.21  136.0  10.46
5  No treatment  420  30.00  385.0  29.62

## Encounters between $A_r^h \& B_r^h $
- collect encounters per plate rep unit
    - filter for A_r_h, B_r_h
    - group for strat, t, 
    - f = n/376

In [16]:
groups = ["transfer_n", "rep", "strategy", "n"]

enc_df = interesting_combos.copy()
enc_df["n"] = (enc_df.s1 == "A_r^h") &  (enc_df.s2 == "B_r^h") 
enc_df = enc_df[enc_df.n][groups]
enc_df.head()

          transfer_n  rep      strategy     n
ID
t1_P1_A3           1    0  No treatment  True
t1_P1_A4           1    2  No treatment  True
t1_P1_B3           1    1  No treatment  True
t1_P1_B4           1    3  No treatment  True
t1_P1_A5           1    0  No treatment  True

In [17]:
enc_sum = enc_df.groupby(["transfer_n", "strategy"]).count().unstack(fill_value=0).stack().reset_index()
enc_sum["f"] = enc_sum["n"]/376
enc_sum["t1"] = enc_sum["transfer_n"] == 1
enc_sum

    transfer_n      strategy  rep   n         f     t1
0            1   Combination   35  35  0.093085   True
1            1       Cycling   35  35  0.093085   True
2            1        Mixing   35  35  0.093085   True
3            1        Mono A   35  35  0.093085   True
4            1        Mono B   35  35  0.093085   True
..         ...           ...  ...  ..       ...    ...
79          14       Cycling    6   6  0.015957  False
80          14        Mixing   12  12  0.031915  False
81          14        Mono A   20  20  0.053191  False
82          14        Mono B   12  12  0.031915  False
83          14  No treatment   40  40  0.106383  False

[84 rows x 6 columns]