In [1]:
from evaluation_scripts.base import get_pathes, load_pickle_obj
jupyter_path, base_path, path, analysis_path, os = get_pathes("20220412_output")
M_path = os.path.join(base_path, "summary", "obj")

In [2]:
M_ab = load_pickle_obj(os.path.join(M_path, "M_t_AB.pkl")) 
M_a  = load_pickle_obj(os.path.join(M_path, "M_t_A.pkl")) 
M_b  = load_pickle_obj(os.path.join(M_path, "M_t_B.pkl"))

In [3]:
M_a

         U     S   A_r   B_r   A&B  AB_r
U     0.99  0.96  0.02  0.97  0.03  0.02
S     0.00  0.02  0.00  0.01  0.00  0.00
A_r   0.01  0.02  0.98  0.01  0.59  0.01
B_r   0.00  0.00  0.00  0.01  0.00  0.00
A&B   0.00  0.00  0.00  0.00  0.18  0.01
AB_r  0.00  0.00  0.00  0.00  0.20  0.96

In [4]:
M_b

         U     S   A_r   B_r   A&B  AB_r
U     0.99  0.80  0.63  0.01  0.03  0.02
S     0.00  0.19  0.18  0.00  0.00  0.00
A_r   0.00  0.00  0.18  0.00  0.00  0.00
B_r   0.01  0.01  0.00  0.98  0.21  0.00
A&B   0.00  0.00  0.00  0.00  0.03  0.00
AB_r  0.00  0.00  0.01  0.01  0.73  0.98

In [5]:
M_ab

        U    S   A_r   B_r  A&B  AB_r
U     1.0  0.9  0.49  0.98  1.0  0.02
S     0.0  0.1  0.32  0.02  0.0  0.00
A_r   0.0  0.0  0.19  0.00  0.0  0.00
B_r   0.0  0.0  0.00  0.00  0.0  0.00
A&B   0.0  0.0  0.00  0.00  0.0  0.00
AB_r  0.0  0.0  0.00  0.00  0.0  0.98

## Effectivness of Drugs while adding Plasmids (S to Ar or Br)

In [6]:
baseline_A = M_a.loc["U", "S"]
w_A_Br = M_a.loc["U", "B_r"]/baseline_A
print("The effectiveness of A is INCREASED due to plasmid pB by: ", -round(1-w_A_Br, 2)*100, "%")

The effectiveness of A is INCREASED due to plasmid pB by:  1.0 %

In [7]:
baseline_B = M_b.loc["U", "S"]
w_B_Ar = M_b.loc["U", "A_r"]/baseline_B
print("The effectiveness of B is reduced due to plasmid pA by: ", round(1-w_B_Ar,2)*100, "%")

The effectiveness of B is reduced due to plasmid pA by:  21.0 %

In [8]:
baseline_AB = M_ab.loc["U", "S"]
w_AB_Ar = M_ab.loc["U", "A_r"]/baseline_AB
print("The effectiveness of AB is reduced due to plasmid pA by: ", round(1-w_AB_Ar,2)*100, "%")

The effectiveness of AB is reduced due to plasmid pA by:  46.0 %

In [9]:
w_AB_Br = M_ab.loc["U", "B_r"]/baseline_AB
print("The effectiveness of AB is INCREASED due to plasmid pB by: ", -round(1-w_AB_Br,2)*100, "%")

The effectiveness of AB is INCREASED due to plasmid pB by:  9.0 %

##Â Effectivness of Drugs on S

In [10]:
e_A_AB = round(1 - baseline_AB/baseline_A, 2)
print("The effectivness of drug AB (", round(baseline_AB, 2), ")is ", e_A_AB*100, " % lower compared to drug A alone(", round(baseline_A, 2), ").")

The effectivness of drug AB ( 0.9 )is  6.0  % lower compared to drug A alone( 0.96 ).